lib/
node_modules/

# build/test cruft
*.bundle.*
.cache
.vscode
*.py[co]
.pytest_cache
__pycache__
*.egg-info
*.tsbuildinfo

# scratch cruft
/scratch/*.hdf5

# temp/system files
*~
*.bak
.ipynb_checkpoints
.DS_Store
\#*#
.#*

# jetbrains stuff
*.iml
.idea/

