.autoversion
lib/
node_modules/

# build/test cruft
*.bundle.*
.cache
*.py[co]
.pytest_cache
__pycache__
*.egg-info
*.tsbuildinfo

# python distribution stuff
build
dist
MANIFEST

# scratch cruft
/scratch/*.cutie
/scratch/*.h5
/scratch/*.hdf5
/scratch/tutorial
/scratch/Untitled*

# temp/system files
*~
*.bak
.ipynb_checkpoints
.DS_Store
\#*#
.#*

# jetbrains IDE stuff
*.iml
.idea/

# ms IDE stuff
*.code-workspace
.history
.vscode
